<div class="container-fluid">
    <div class="row align-items-center" style="height: 100vh;">
        <div class="col-sm-6 p-0">
            <div class="image-container">
                <img src="https://img2.pic.in.th/pic/backgroudlogo-uppop.png" alt="Background Logo UPPop"
                    class="background-image">
                <div class="image-container2">
                    <img src="https://img5.pic.in.th/file/secure-sv1/login-logo-uppop.png" alt="Login Logo UPPop"
                        class="overlay-image">
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="text-welcome">
                <h3>
                    <b>ยินดีต้อนรับเข้าสู่ UP POP!</b>
                </h3>
                <p class="gray-text">เข้าสู่ระบบบัญชีผู้ใช้ของคุณ</p>
            </div>
            <form>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>
                <div class="d-grid gap-2">
                    <button class="btn btn-primary" type="button">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>