<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a routerLink="/">
    <img src="https://img5.pic.in.th/file/secure-sv1/logouppop.png" alt="Logo" style="height: 40px;">
  </a>
  <ul class="navbar-nav-canter  mx-auto mb-lg-0 d-flex justify-content-center flex-lg-row flex-column" style="flex: 1;">
    <li class="nav-item me-lg-5">
      <a class="nav-link text-center" routerLink="/">
        <span class="d-lg-none">Home</span>  
        <img class="d-none d-lg-inline" [src]="home" alt="Home" style="height: 40px;">
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-center" routerLink="/calendar">
        <span class="d-lg-none">Calendar</span>
        <img class="d-none d-lg-inline calendar" [src]="calendar" alt="Calendar" style="height: 40px;">
      </a>
    </li>
    <li class="nav-item ms-lg-5">
      <a class="nav-link text-center" routerLink="/following">
        <span class="d-lg-none">Following</span>
        <img class="d-none d-lg-inline" [src]="following" alt="Following" style="height: 40px;">
      </a>
    </li>
  </ul>
  <ul class="navbar-nav ms-auto flex-lg-row flex-column" >
    <li class="nav-item" *ngIf="isAdmin">
      <a class="nav-link text-center" routerLink="/adminedit">
        <button type="button" class="btn btn-success">สร้างกิจกรรมสำหรับผู้ดูแล</button>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-center" href="#">
        <span class="d-lg-none">Notifications</span>
        <img class="d-none d-lg-inline" src="https://img5.pic.in.th/file/secure-sv1/bell.png" alt="Notifications" style="height: 40px;">
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link no-underline text-center" routerLink="/profile">
        <div class="profile d-flex align-items-center">
          <span class="d-lg-none">Profile</span>
          <img class="d-none d-lg-inline" [ngClass]="profileimg" [src]="imagesrc" alt="Profile" style="height: 20px;">
          <h5 class="ms-2 mb-0 d-none d-lg-inline font-color">บัญชีของฉัน</h5>
        </div>
      </a>
    </li>
  </ul>
</nav>