<app-nav></app-nav>
<div class="carousel-inner">
    <div class="carousel-item active"><br><br><br><br><br>
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white text-center" data-mdb-theme="dark">
                    <h1 class="mb-3">กิจกรรมของคุณ</h1>
                    <button type="button"  routerLink="/editdetail" class="btn btn-outline-light btn-lg m-2">เพิ่มกิจกรรม+</button>       
                </div>
            </div>
        </div>
    </div>
</div>